<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <style>
        li{
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Resultado</h2>
        <ul>
            <li><span class="negrita">Celsius:</span> {{ celsius }} ºC</li>
            <li><span class="negrita">Fahrenheit:</span> {{ fahrenheit }} ºF</li>
            <li><span class="negrita">Kelvin:</span> {{ kelvin }} ºK</li>
        </ul>
        <a href="/temperatura">
            <button>Volver</button>
        </a>
    </div>
</body>
</html>