<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>Celsius</td>
            <td>{{ celsius }}</td>
        </tr>
        <tr>
            <td>Fahrenheit</td>
            <td>{{ fahrenheit }}</td>
        </tr>
        <tr>
            <td>Kelvin</td>
            <td>{{ kelvin }}</td>
        </tr>
    </table>
</body>
</html>